:root {
    /* light theme */
    --dz-sidebar-bg-color-light: rgb(245 245 245);
    --dz-sidebar-bg-color: #fff;
    --dz-sidebar-bg-color-dark: #e0e0ee;

    --dz-sidebar-text-color-light: #666666;
    --dz-sidebar-text-color-lighter: #999999;
    --dz-sidebar-text-color: #6e768e;
    --dz-sidebar-text-highlight: #71b6f9;


    --dz-sidebar-icon-color: #333333;
    --dz-sidebar-icon-highlight: #71b6f9;

    --dz-container-color: #f0f0f5;
    --dz-card-color: #fff;
    --dz-body-color: #f5f5f5;
    --dz-body-color-dark: #fff;

    --dz-input-bg: var(--dz-body-color-dark);
    --dz-input-focus-bg: var(--dz-input-bg);
    --dz-input-border-color: var(--dz-border-color);
    --dz-input-focus-border-color: var(--dz-border-color-active);
    --dz-input-hover-bg: #fff;

    /* JS Grid */
    --dz-table-row-color: #f2f2f2;
    --dz-table-row-alt-color: #fff;
    --dz-table-border-color: var(--dz-border-color);


    /* Bootstrap Select  */
    --dz-select--hover-bg-color:#f0f0f5;
    --dz-select--active-bg-color:#71b6f9;
}