:root {
    /* dark theme */
    --dz-sidebar-bg-color-light:#3A3F48;
    --dz-sidebar-bg-color:#31353d;
    --dz-sidebar-bg-color-dark:rgba(0, 0, 0, 0.09);
    
    --dz-sidebar-text-color-lighter: #A5A1AA;
    --dz-sidebar-text-color-light:#74829c;
    --dz-sidebar-text-color:#818896;
    --dz-sidebar-text-highlight:#fff;

    --dz-sidebar-icon-color: #818896;
    --dz-sidebar-icon-highlight: #fff;    
    
    --dz-container-color: #eef0f8;

    --dz-card-color: #31353d;
    --dz-body-color: #2c3036;
    --dz-body-color-dark: #31353d;

    --dz-input-bg: #383c44;
    --dz-input-focus-bg: #363e4b;
    --dz-input-border-color: #424c5c;
    --dz-input-focus-border-color: #545f73;

    /* JS Grid */
    --dz-table-row-color: #31353d;
    --dz-table-row-alt-color: #363b42;
    --dz-table-border-color:#424c5c;

    /* Bootstrap Select  */
    --dz-select-bg-color: var(--dz-input-bg);
    --dz-select--hover-bg-color:#363e4b;
    --dz-select--active-bg-color:#31353d;

/* Blue Theme */
    /* --dz-sidebar-bg-color-light:#3c4553;
    --dz-sidebar-bg-color:#313844;
    --dz-sidebar-bg-color-dark:rgba(0, 0, 0, 0.09);
    
    --dz-sidebar-text-color-lighter: #A5A1AA;
    --dz-sidebar-text-color-light:#74829c;
    --dz-sidebar-text-color:#818896;
    --dz-sidebar-text-highlight:#fff;

    --dz-sidebar-icon-color: #818896;
    --dz-sidebar-icon-highlight: #fff;    
    
    --dz-container-color: #eef0f8;

    --dz-card-color: #313844;
    --dz-body-color: #2c333e;

    --dz-input-bg: #363e4b;
    --dz-input-focus-bg: var(--dz-input-bg);
    --dz-input-border-color: #424c5c;
    --dz-input-focus-border-color: #545f73; */

}